.button-help{
    color:black;
    font-size: 1.5em;
    position: absolute;
    padding-right: 5px;
  }
  
  ion-grid{
    text-align: center;
    background-color: #2dd36f;
    padding: 13px;
  }
  
  