<ion-header>
    <ion-toolbar>

        <ion-title>Entradas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let entrada of entradas" (click)="navigateToDetail(entrada.id)">
            <ion-thumbnail slot="end">
                <img src="{{entrada.imageURL}}">
            </ion-thumbnail>
            <ion-label>
                <h3>{{entrada.name}}</h3>
                <p>{{entrada.description}}</p>
                <b>${{entrada.price}}</b>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
