<ion-header>
  <ion-toolbar>

      <ion-title>Platos Fuertes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let platoFuerte of platosFuertes" (click)="navigateToDetail(platoFuerte.id)">
          <ion-thumbnail slot="end">
              <img src="{{platoFuerte.imageURL}}">
          </ion-thumbnail>
          <ion-label>
              <h3>{{platoFuerte.name}}</h3>
              <p>{{platoFuerte.description}}</p>
              <b>${{platoFuerte.price}}</b>
          </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
