<ion-content>

  <ion-content fullscreen>
    <ion-card>
      <ion-icon name="close-circle-outline" (click)="return()" class="button-help"></ion-icon>
      <ion-img src="{{item.imageURL}}"></ion-img>
      <ion-card-header>
        <ion-card-title>{{item.name}}</ion-card-title>
        <ion-card-subtitle>${{item.price}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{item.description}}
      </ion-card-content>
    </ion-card>
  </ion-content>

