<ion-tabs>
  <ion-content class="hola"></ion-content>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="appetizers">
      <ion-icon name="pizza-sharp"></ion-icon>
      <ion-label>Entradas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="maincourses">
      <ion-icon name="fast-food-sharp"></ion-icon>
      <ion-label>Platos Fuertes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="drinks">
      <ion-icon name="wine-sharp"></ion-icon>
      <ion-label>Bebidas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="desserts">
      <ion-icon name="ice-cream"></ion-icon>
      <ion-label>Postres</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
