<ion-header>
  <ion-toolbar>

      <ion-title> Postres </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let postre of postres" (click)="navigateToDetail (postre.id)">
          <ion-thumbnail slot="end">
              <img src="{{postre.imageURL}}">
          </ion-thumbnail>
          <ion-label>
              <h3>{{postre.name}}</h3>
              <p>{{postre.description}}</p>
              <b>${{postre.price}}</b>
          </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
