<ion-header>
  <ion-toolbar>

      <ion-title> Bebidas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item *ngFor="let bebida of bebidas" (click)="navigateToDetail(bebida.id)">
          <ion-thumbnail slot="end">
              <img src="{{bebida.imageURL}}">
          </ion-thumbnail>
          <ion-label>
              <h3>{{bebida.name}}</h3>
              <p>{{bebida.description}}</p>
              <b>${{bebida.price}}</b>
          </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
